* {
    margin: 0;
    padding: 0;
}
/* hello this is anup chand */
html {
    height: 100%;
    scroll-behavior: smooth;
}
/*weeeeeeeeeeeeeeeeeeeeeeee*/
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Top Navbar Code Start */

.navbar {
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid #f7dfe3;
    padding: 3px 3px 3px 3px;
    display: flex;
    justify-content: space-around;
}

.left {
    /* border: 2px solid black; */
    /* align-items: center; */
    width: 20%;
    height: 90%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.left>a>img {
    height: 100%;
    min-width: auto;
}

.right {
    /* border: 2px solid red; */
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right>nav {
    /* border: 2px solid; */
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.right>nav>li>a {
    /* border: 2px solid; */
    text-decoration: none;
    color: black;
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 600;
}

.right>nav>li>a:hover {
    padding-top: 5px;
    color: #c0072c;
    font-weight: bold;
    font-size: 20px;
    transition: all .2s ease-in-out;
    transform: scale(1.15);
}
.right>nav>li>a::after {
    content: "";
    position: absolute;
    height: 2.5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #c7838e;
    transition: width .28s ease-in-out;
}

.right>nav>li>a:hover:after {
    width: 100%;
    border-radius: 10px;
}

.userlogin {
    /* border: 2px solid; */
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.userlogin>.user>img {
    height: 35px;
}

.userlogin>.user {
    /* border: 2px solid; */
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
}

.userlogin>.user:hover {
    /* padding-top: 5px; */
    color: #c0072c;
    font-weight: bold;
    font-size: 20px;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

/* Top Navbar Code Ends */





/* Footer Code  Start */

.downnavbar {
    /* background-color: #b4b1b159; */
    background-color: #FFF8F9;
    margin-top: auto;
    box-sizing: border-box;
    border-top: 2px solid rgb(177, 105, 105);
    border-bottom: 2px solid rgb(177, 105, 105);
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.lowleft {
    box-sizing: border-box;
    /* border: 2px solid; */
    height: 100%;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 5px 5px;
}

.firstone {
    /* border: 2px solid; */
    height: 23%;
    display: flex;
    justify-content: flex-start;
}

.lowleft>div>a>img {
    /* border: 2px solid; */
    height: 100%;
    box-sizing: border-box;
}

.slogan {
    /* box-sizing: border-box; */
    margin-top: 10px;
    /* border: 2px solid; */
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 60%; */
    font-weight: 800;
    font-family: 'Diphylleia', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: purple;
}

.information {
    margin-top: 10px;
    /* border: 2px solid; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    /* padding: 10px; */
}

.gaping {
    margin-left: 15px;
}

.same {
    /* border: 2px solid; */
    display: flex;
    height: 30%;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    flex-wrap: wrap;
}

.same>a {
    /* border: 2px solid; */
    display: flex;
    /* width: 55%; */
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
}

.same>a:hover {
    color: rgb(153, 69, 69);
    text-decoration: underline;
}

.gaping {
    margin-left: 10px;
}

.ourteam {
    /* border: 2px solid; */
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.teamheader{
    /* border: 2px solid; */
    font-family: 'Poppins', 'Diphylleia', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.codercard {
    /* border: 2px solid; */
    box-sizing: border-box;
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.coder {
    /* border: 2px solid; */
    height: 100%;
    width: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incoder {
    /* border: 2px solid red; */
    border: none;
    height: 95%;
    width: 95%;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.incoders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid;
    width: 100%;
}

.incoder {
    /* backdrop-filter: blur(2px); */
    box-sizing: border-box;
    /* border: 2px solid rgb(255, 255, 255); */
    border: none;
    height: 95%;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PP {
    /* border: 2px solid; */
    margin-top: 5px;
    height: 45%;
    border-radius: 50%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PP>img {
    height: 100%;
    /* border: 2px solid; */
    /* width: 90%; */
}

.codername {
    margin-top: 5px;
    width: 100%;
    /* border: 2px solid; */
    height: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-size: large;
    font-family: 'Poppins', 'Diphylleia', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.coderpp {
    box-sizing: border-box;
    /* border: 2px solid; */
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45%;
    width: 100%;
}

.coderpp>a {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coderpp>a>img {
    width: 70%;
    transition: all .18s ease-in-out;
}

.coderpp>a>img:hover {
    transform: scale(1.2);
}

.lowright {
    box-sizing: border-box;
    /* border: 2px solid; */
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.lowest {
    box-sizing: border-box;
    /* border: 3px solid; */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.uplow {
    /* margin-top: 10px; */
    margin-right: 30px;
    /* border: 2px solid; */
    height: 30%;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -12%;
    right: 0;
}

.uplow>a>img {
    height: 70%;

}

.uplow:nth-child(1) {
    right: 0%;

}

.downlow {
    padding-top: 5px;
    /* border: 2px solid; */
    height: 78%;
}

.lowest {
    /* border: 2px solid red; */
    height: 100%;
}

.lowest>.box {
    /* border: 2px solid rgb(99, 41, 41); */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lowest>.box21 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(99, 41, 41); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quickhead {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a8102e;
}

.quicklinks {
    /* border: 2px solid; */
    color: black;
    text-decoration: none;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
}

.quicklinks:hover {
    padding-top: 5px;
    color: #DE1B41;
    font-size: x-large;
    transition: all .15s ease-in;
    transform: translateX(65px);

}

footer {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e3a58;
    color: white;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Footer Code  Ends */